.main[data-v-2b06003c]{padding:200px 0}.container[data-v-2b06003c]{max-width:1220px;padding:0 10px;width:100%;margin:auto;display:flex;align-items:center;justify-content:center}.RegForm[data-v-2b06003c]{padding-top:100px}