.main[data-v-f68384b0]{background:#25253a}.container[data-v-f68384b0]{max-width:1220px;padding:0 10px;width:100%;margin:auto;height:100vh;display:flex;align-items:center;justify-content:center}.LoginForm[data-v-f68384b0]{padding-top:100px}