.main[data-v-9c626306]{padding:200px 0}.container[data-v-9c626306]{max-width:1220px;padding:0 10px;width:100%;margin:auto;display:flex;align-items:center;justify-content:center}.RegForm[data-v-9c626306]{padding-top:40px}