.main[data-v-524a749e]{padding:200px 0;background:#25253a}.container[data-v-524a749e]{max-width:1220px;padding:0 10px;width:100%;margin:auto;display:flex;align-items:center;justify-content:center}.RegForm[data-v-524a749e]{padding-top:80px}